:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    display: block;
    z-index: 1;
}
canvas#interaction-canvas {
    background: transparent;
    z-index: 2;
}

#tools,
#history-control {
    width: min-content;
    padding: 0.2rem;
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 4px;
    z-index: 3;
    position: absolute;
}

#tools {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

#history-control {
    bottom: 1rem;
    left: 1rem;
}

.tool {
    border-radius: 0.4rem;
    background-color: white;
    padding: 0.6rem;
    color: black;
}

.tool:hover,
.tool.active {
    background-color: #f1f1f1;
}

.tool:active,
.tool.pressed {
    background-color: #e0e0e0;
}

.tool.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
}

.tool:disabled {
    opacity: 0.3;
}

.tool.active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(85, 85, 85);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
